<!DOCTYPE html>
<html>
  <head>
    <title>Профиль</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "css/bootstrap.css">
    <link rel = "stylesheet" href = "css/style_user_profile.css">
    <link rel="stylesheet" href="css/style_main.css">
    <link rel="stylesheet" href="css/style_article.css"> 
  </head>
  <body>
    <div class="header">
      <div class="row">
        <h3>Header</h3>
      </div>
    </div>
    <div class="wrapper row">
    <div class="col-md-2 grey-menu">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">Интересное</a>
        </li>
        <li>
          <a href="#">Мой профиль</a>
        </li>
        <li>
          <a href="#">Мои сообщения</a>
        </li>
        <li>
          <a href="#">Мои статьи</a>
        </li>
    </div>
    <div class="substrate">
      <div class="row">
        <div class="col-xs-12">
          <a href="#">К списку диалогов</a>
        </div>
        <div class="col-xs-12">
          <div class="separator"></div>
        </div>
        <div class="comments-list">
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Иван Иванов </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 20:45 </h6>
              </div>
              <div class="col-xs-12">
                <p>Привет</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Я </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 20:50 </h6>
              </div>
              <div class="col-xs-12">
                <p>Прив</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Я </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 20:55 </h6>
              </div>
              <div class="col-xs-12">
                <p>Лол))</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Иван Иванов </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:00 </h6>
              </div>
              <div class="col-xs-12">
                <p>Ясна</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Я </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:10 </h6>
              </div>
              <div class="col-xs-12">
                <p>Что происходит?</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Иван Иванов </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:15 </h6>
              </div>
              <div class="col-xs-12">
                <p>хз ваще</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Я </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:30 </h6>
              </div>
              <div class="col-xs-12">
                <p>Кажется, это страница с диалогом</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Иван Иванов </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:40 </h6>
              </div>
              <div class="col-xs-12">
                <p>мб</p>
              </div>
            </div>
          </div>
          <div class="comment col-xs-12">
            <div class="row">
              <img src="img/user.png" class="avatar">
              <div class="col-xs-6">
                <h6 class="text-left"> Я </h6>
              </div>
              <div class="col-xs-6">
                <h6 class="text-right"> вчера в 21:45 </h6>
              </div>
              <div class="col-xs-12">
                <p>Ну пока</p>
              </div>
            </div>
          </div>
        </div>
        <div class="new-comment row">
          <div class="col-xs-12">
            <textarea></textarea>
          </div>
          <div class="col-xs-12">
            <button class="btn btn-info fl-right">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
