<!DOCTYPE html>
<html>
	<head>
		<title>Добро пожаловать!</title>
		<meta charset="UTF-8">
		<link rel = "stylesheet" href = "css/bootstrap.css">
		<link rel = "stylesheet" href = "css/style_greetings.css"> 
	</head>
	<body>
		<div class="header">
			<div class="row">
				<img src="img/logo.jpg">
				<h3>Header</h3>
			</div>
		</div>
		<div class="substrate">
			<div class="row">
				<h1>Добро пожаловать!</h1>
			</div>
			
			<div class="btns row">
				<button type="button" class="btn btn-warning btn-lg">Регистрация</button>
				<button type="button" class="btn btn-default btn-lg">Войти</button>
			</div>
			<a type="button" class="btn btn-link row guest">Гостевой режим</a>
			
		</div>


	</body>
</html>