<!DOCTYPE html>
<html>
	<head>
		<title>Вход</title>
		<meta charset="UTF-8">
		<link rel = "stylesheet" href = "css/bootstrap.css">
		<link rel = "stylesheet" href = "css/style_login.css"> 
	</head>
	<body>
		<div class="header">
			<div class="row">
				<img src="img/logo.jpg">
				<h3>Header</h3>
			</div>
		</div>
		<div class="substrate">
			<div class="wrapper">
				<h4>Вход</h4>
				<form role="form">
					<div class="form-group">
					  	<label for="login">Логин</label>
					  	<input type="login" class="form-control" id="login" placeholder="Введите логин">
					</div>
					<div class="form-group">
					  	<label for="pass">Пароль</label>
					  	<input type="password" class="form-control" id="pass" placeholder="Введите пароль">
					
					<div class="row">
						<button type="submit" class="btn btn-success">Войти</button>
						<button type="submit" class="btn btn-default">Отмена</button>
					</div>
				</form>
			</div>
		</div>


	</body>
</html>