<!DOCTYPE html>
<html>
  <head>
    <title>Профиль</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "css/bootstrap.css">
    <link rel = "stylesheet" href = "css/style_user_profile.css">
    <link rel = "stylesheet" href = "css/style_subscribers.css"> 
  </head>
  <body>
    <div class="header">
      <div class="row">
        <h3>Header</h3>
      </div>
    </div>
    <div class="wrapper row">
    <div class="col-md-2 grey-menu">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">Интересное</a>
        </li>
        <li>
          <a href="#">Мой профиль</a>
        </li>
        <li>
          <a href="#">Мои сообщения</a>
        </li>
        <li>
          <a href="#">Мои статьи</a>
        </li>
      </div>
    <div class="substrate">
      <div class="subscriber">
        <div class="row">
          <div class="col-md-3">
            <img class="user-img-small"src="img/user.png">
            <div><p class="text-center nickname-small">alex31</p></div>
          </div>
          <div class="col-md-5">
            <div>
              <p>Клещевников</p>
              <p>Алексей</p>
            </div>
            <div>
              <p>мужской</p>
              <p>1993</p>
            </div>
            <div>
              <p><span><b>Стаж: </b></span>3 года</p>
            </div>
          </div>
          <div class="col-md-4">
            <div><p>Личные автомобили:</p></div>
            <p>Suzuki SX4</p>
            <p>Toyota Land Cruiser 100</p>
            <button type="button" class="btn btn-warning btn-lg fl-left">Отписаться</button>
          </div>
        </div>
      </div>
      <div class="subscriber">
        <div class="row">
          <div class="col-md-3">
            <img class="user-img-small"src="img/user.png">
            <div><p class="text-center nickname-small">alex31</p></div>
          </div>
          <div class="col-md-5">
            <div>
              <p>Клещевников</p>
              <p>Алексей</p>
            </div>
            <div>
              <p>мужской</p>
              <p>1993</p>
            </div>
            <div>
              <p><span><b>Стаж: </b></span>3 года</p>
            </div>
          </div>
          <div class="col-md-4">
            <div><p>Личные автомобили:</p></div>
            <p>Suzuki SX4</p>
            <p>Toyota Land Cruiser 100</p>
            <button type="button" class="btn btn-warning btn-lg fl-left">Отписаться</button>
          </div>
        </div>
      </div>
      <div class="subscriber">
        <div class="row">
          <div class="col-md-3">
            <img class="user-img-small"src="img/user.png">
            <div><p class="text-center nickname-small">alex31</p></div>
          </div>
          <div class="col-md-5">
            <div>
              <p>Клещевников</p>
              <p>Алексей</p>
            </div>
            <div>
              <p>мужской</p>
              <p>1993</p>
            </div>
            <div>
              <p><span><b>Стаж: </b></span>3 года</p>
            </div>
          </div>
          <div class="col-md-4">
            <div><p>Личные автомобили:</p></div>
            <p>Suzuki SX4</p>
            <p>Toyota Land Cruiser 100</p>
            <button type="button" class="btn btn-warning btn-lg fl-left">Отписаться</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
