.article-img {
  height: inherit;
}

.article-img-container {
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 10px 0 10px 10px;
}

.page-nav {
  padding: 0 15px;
}

.fl-right {
  float: right;
}

.separator {
  border-bottom: 1px solid #92b8d8;
  margin: 5px 20px;
}

a {
  cursor: pointer;
}
